audeer==1.18.0
audformat==0.15.4
audinterface==0.10.0
audiofile==1.1.0
audobject==0.7.5
audresample==1.1.0
cffi==1.15.1
importlib-metadata==5.0.0
iso-639==0.4.5
iso3166==2.1.1
numpy==1.23.4
opensmile==2.4.1
oyaml==1.0
pandas==1.5.1
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
six==1.16.0
soundfile==0.11.0
sox==1.4.1
tqdm==4.64.1
zipp==3.10.0
